:root {
  --primery-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --font-color: #2E2F42;
  --white-color: #ffffff;
  --dark-white-color:#F4F4FD;
  --violet-color: #4d5ae5;
  --dark-violet-color: #404bbf;
  --secondary-font-color: #434455;
  --subtle-text: #8E8F99;
  --border-color: #e7e9fc;
}

p,
h1,
h2,
h3,
h4 {
  padding: 0;
  margin: 0;
}

img {
  display: block;
}


ul {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--secondary-font-color);
  background-color: var(--white-color);
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
  cursor: pointer;
}

.button {
  border: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
}

.header {
  border-bottom: 1px solid var(--border-color);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header > .container {
  display: flex;
  align-items: center;
}

.page-nav {
  display: flex;
  align-items: center; 
}

.logo {
  margin-right: 76px;
  color: var(--violet-color);
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  font-family: var(--secondary-font);
  
}

.logo-header {
  color:var(--font-color);
}

.logo-footer {
  color: var(--dark-white-color);
}

.menu-link {
  display: block;
  position: relative;
  padding: 24px 0;
  color: var(--font-color);
  color: var(--font-color);   
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-link.active::after {
  opacity: 1;
}

.menu-link::after {
  content: '';
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--dark-violet-color);
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-list {
  display: flex;
  gap: 40px;
}

.menu-link:hover,
.menu-link:focus {
  color: var(--dark-violet-color);
}


.contact {
  font-style: normal;
  margin-left: auto;
}

.contact-list {
  font-style: normal;
  display: flex;
}

.contact-mail {
  margin-right: 40px;
}

.contack-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color:var(--secondary-font-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contack-link:hover,
.contack-link:focus {
  color: var(--dark-violet-color);
}

.hero {
  max-width: 1440px;
  margin: 0 auto;
  padding: 188px 0;
  background-color: var(--font-color);
  background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-title {
  max-width: 496px;
  margin: 0 auto;
  margin-bottom: 48px;
  color:var(--white-color);
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
}

.hero-btn {
  min-width: 169px;
  display: block;
  margin: 0 auto;
  padding: 16px 32px;
  background-color: var(--violet-color);
  color: var(--white-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--dark-violet-color);
}

.info {
padding: 120px 0; 
}

.info-list {
  display: flex;
  gap: 24px;
}

.info-item {
  max-width: 264px;
}

.info-icon-wrapper {
  display: flex;
  justify-content: center;
  padding: 24px 100px;
  margin-bottom: 8px;
  background-color: var(--dark-white-color);
  border-radius: 4px;
  align-items: center;
}

.info-item-title {
  margin-bottom: 8px;
  color: var(--font-color);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.info-item-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondary-font-color);
}

.about {
  padding-bottom: 120px;
}

.about-title {
  margin-bottom: 72px;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--font-color);
  text-transform: capitalize;
}

.about-list {
  display: flex;
  gap: 24px;
}

.team {
  background-color: var(--dark-white-color);
  padding: 120px 0;
}

.team-title {
  margin-bottom: 72px;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--font-color);
  text-align: center;
  text-transform: capitalize;
}

.team-list {
  display: flex;
  gap: 24px;
}

.team-item {
  width: calc((100% - 72px) / 4);
  background-color: var(--white-color);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px; 
}


.team-text-wpar {
  padding: 32px 0; 
}

.team-name {
  margin-bottom: 8px;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--font-color);
}

.team-position {
  margin-bottom: 8px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--secondary-font-color);
}

.social-list {
  display: flex;
  justify-content: center; 
  gap: 24px
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: var(--violet-color);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
  background-color: var(--dark-violet-color);
}

.social-icon {
  display: flex;
  fill: var(--dark-white-color);
}

.customers {
  padding: 120px 0;
}

.customers-title {
  margin-bottom: 72px;
  margin-top: 0;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--font-color);
}

.customers-list {
  display: flex;
  gap: 24px;
}

.customers-item {
  width: calc((100% - 120px) / 6); 
  height: 88px;
}

.customer-item-link {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 32px;
  border: 1px solid var(--subtle-text);
  border-radius: 4px;
  padding: 16px 32px;
  color: var(--subtle-text);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.customer-item-icon {
  display: flex;
  fill: currentColor;
}

.customer-item-link:hover,
.customer-item-link:focus {
  color: var(--dark-violet-color);
  border-color: var(--dark-violet-color);
}

.footer {
  padding: 100px 0;
  background-color: var(--font-color);
}

.footer > .container {
  display: flex;
  align-items: baseline;
}

.footer-wrapper-left {
  margin-right: 120px;
}

.footer-wrapper-medium {
  margin-right: 80px;
}

.footer-social-list {
  gap: 16px; 
}

.footer-social-link {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: #31d0aa;
}

.footer-link {
  display: inline-block;
  margin-bottom: 16px;
}

.footer-text {
  max-width: 264px;
  margin-top: 16px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--white-color);
}

.footer-heading {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--white-color);
}


.footer-subscribe {
  display: flex;
  gap: 24px;
}

.footer-subscribe-input {
  width: 264px;
  height: 40px;
  background-color: transparent;
  border: 1px solid var(--white-color);
  border-radius: 4px;
  padding: 8px 16px;
  color: var(--white-color);
}

.footer-subscribe-input::placeholder {
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: var(--white-color);
}

.footer-subscribe-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--violet-color);
  padding: 8px 24px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white-color);
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
} 

.footer-subscribe-btn:hover,
.footer-subscribe-btn:focus {
  background-color: var(--dark-violet-color);
}

.footer-subscribe-icon {
  margin-left: 16px;
}

.portfolio {
  padding: 96px 0 120px; 
}

.filter-list {
  margin-bottom: 72px;
  display: flex;
  justify-content: center;
  gap: 24px;
}


.filter-btn {
  display: block;
  padding: 12px 24px;
  font-family: "Roboto", sans-serif;
  background-color: var(--dark-white-color);
  color: var(--violet-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  cursor: pointer;
  border: 1px solid var(--border-color); 
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-btn:hover,
.filter-btn:focus {
  color: var(--white-color);
  background-color: var(--dark-violet-color);
  border: 1px solid transparent;
  box-shadow:0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12); 
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}

.portfolio-card {
  width: calc((100% - 48px) / 3);
}

.portfolio-link:hover .portfolio-top-text,
.portfolio-link:focus .portfolio-top-text {
  transform: translateY(0%);
}


.portfolio-link {
  display: block; 
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.portfolio-link:hover,
.portfolio-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-top-wrapper {
  position: relative;
  overflow: hidden;
}

.portfolio-top-text {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 40px 32px;
  color: var(--dark-white-color);
  background-color: var(--violet-color);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-img {
  width: 100%;
}

.portfolio-text-wrap {
  padding: 32px 16px;
  border: 1px solid var(--border-color);
  border-top: none;
}

.portfolio-heading {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--font-color);
  margin-bottom: 8px;
}

.portfolio-text {
  font-size: 16px;
  letter-spacing: 0.02em;
  color: var(--secondary-font-color);
  line-height: 1.5;
}

.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 408px;
  min-height: 576px;
  padding: 72px 24px 24px 24px;
  background-color: #FCFCFC;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1) rotate(0);
}

.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  padding: 0;
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #E7E9FC;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  border: none; 
  background-color: var(--dark-violet-color);
  fill: var(--white-color);
}

.modal-close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal-title {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em; 
  color: var(--font-color);
}

.modal-field {
  margin-bottom: 8px;
}

.modal-field-text{
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--subtle-text);
}

.modal-field-wrapper {
  position: relative;
  top: 0;
  left: 0;
}

.modal-field-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-field-input {
  width: 100%;
  height: 40px;
  padding: 11px 38px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
} 

.modal-field-input:focus {
  border-color: var(--violet-color);
}

.modal-field-input:focus + .modal-field-icon {
  fill: var(--violet-color);
}

.modal-comment {
  margin-bottom: 16px;
}

.modal-field-comment {
  width: 100%;
  height: 120px;
  padding: 11px 38px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-field-comment:focus {
  border-color: var(--violet-color);
}

.modal-field-comment::placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}

.modal-field-checkbox {
  margin-bottom: 24px;
}

.modal-checkbox-text {
  display: flex;
  align-items: center;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.04em;
  color: var(--subtle-text);
}

.modal-checkbox-text > .modal-span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  margin-right: 10px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  fill: transparent;
}

.modal-checkbox:checked + .modal-checkbox-text > .modal-span  {
  background-color: var(--dark-violet-color);
  border: none;
  fill: var(--white-color);
}


.modal-checkbox-link {
  color: var(--violet-color);
  margin-left: 6px;
}

.modal-send-btn {
  display: block;
  margin: 0 auto;
  min-width: 169px;
  padding: 16px 32px;
  background: var(--violet-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--white-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-send-btn:hover,
.modal-send-btn:focus {
  border: none; 
  background-color: var(--dark-violet-color);
  fill: var(--white-color);
}
